body {
    margin: 0px;
    height: 900px;
}

/* Top bar CSS */

.topbar-container{
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: 363A42;
	/* -webkit-transform: translateX(-280px); */
	-webkit-transition: all 0.3s;
	z-index: 1000;
}


.topbar-item{
	font-weight: 300;
	font-size: 20px;
	color: white;
	padding: 14px 40px;
	display: inline-block;
	float: right;
	letter-spacing: 2px;
}

#dumbell img {
    width: 100px;
    margin-left: -1px;
}

#logo {
    position: relative;
    width: 100px;
    height: 80px;
    margin-left: 6px;
    display: inline-block;
}

#ghost img {
    height: 100px;
    overflow: hidden;
}

#ghost {
    height: 10px;
    position: absolute;
}

ul {
	font-family: 'Roboto Slab', serif;
    display: inline-block;
    float: right;
}

#name {
	font-family: 'Philosopher', sans-serif;
	display: inline-block;
	color: white;
	position: absolute;
	top: 23.5px;
	font-size: 32;
}

#dumbell {
    position: absolute;
    top: 8px;
}


/*Dashboard*/

/* Left Half */

#hex1 {
	background-color: 363A42;
	top: -280px;
	z-index: 30;
}

#hex2 {
	background-color: 363A42;
	top: -210px;
	z-index: 30;
}

.options-container {
    position: relative;
    top: 40px;
    /* left: 20px; */
    width: 400px;
    height: 100px;
}


.long-hexagon {
  position: absolute;
  width: 60px; 
  height: 651px;
  background-color: 363A42;
  /* margin: 86.60px 0; */
  transform: rotateZ(90deg);
  left: 340px;
}

.long-hexagon:before,
.long-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.long-hexagon:before {
  bottom: 100%;
  border-bottom: 20px solid #363A42;
}

.long-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 20px solid #363A42;
}

.hex-text {
    transform: rotateZ(-90deg);
    margin-top: 320px;
    /* position: absolute; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 300px;
    margin-left: -120;
    color: white;
}

.title-container {
    /* position: fixed; */
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    position: relative;
}

.page-title {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    letter-spacing: 10px;
    color: 71948E;
}

#ghost-container .img {
    width: 100px;
    height: 100px;
}

#ghost-container img {
    width: 500px;
}

#ghost-container {
    position: absolute;
    top: 100;
    left: 114;
}

.long-tall-hexagon {
  position: absolute;
  width: 100px; 
  height: 651px;
  background-color: 363A42;
  /* margin: 86.60px 0; */
  transform: rotateZ(90deg);
  left: 340px;
}

.long-tall-hexagon:before,
.long-tall-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.long-tall-hexagon:before {
  bottom: 100%;
  border-bottom: 20px solid #363A42;
}

.long-tall-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 20px solid #363A42;
}

#hex3 {
    top: 300px;
    left: 320px;
    font-size: 40px;
}

.hex-text-tall {
    transform: rotateZ(-90deg);
    margin-top: 301px;
    /* position: absolute; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 300px;
    margin-left: -105;
    color: white;
    /* text-align: center; */
}

/* Right Side */

#right-dash {
    left: 750;
    font-family: 'Roboto Slab', serif;
}

#power {
    background: blue;
    top: -340;
    font-size: 40;
}

#real-stats {
    position: absolute;
    /* background-color: red; */
    top: 40px;
    left: 87px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 610;
    border-bottom: solid red;
}

#miles {
    width: 100;
    font-size: 32px;
    margin-top: 10;
    margin-left: 60px;
}

.stat {
    position: absolute;
    left: 330;
    top: 23;
}

#new {
    left: 480;
}

.num {
    font-size: 40px;
}

.stat-label {
    text-align: center;
}

.triangle-up {
    width: 0;  height: 0;  
    border-left: 20px solid transparent;  
    border-right: 20px solid transparent;  
    border-bottom: 20px solid red;
    position: absolute;
}

#game-stats {
    position: absolute;
    width: 630px;
    top: 200;
    left: 80px;
    background-color: orange;
}

.triangle-down {
    width: 0;  height: 0;  
    border-left: 20px solid transparent;  
    border-right: 20px solid transparent;  
    border-top: 20px solid red;
    position: absolute;
    /* top: 0; */
    left: 100px;
}


#lives .triangle-up {
    top: 0;
}

.resource-number {
    position: absolute;
    left: 200;
}

.resource-label {
    position: absolute;
    left: 300;
}

#currency {
    float: right;
}

#lives .triangle-down {
    top: 30;
    left: 0;
}

#hints .triangle-up {
    top: 80px;
}

#hints .triangle-down {
    top: 110;
    left: 0;
}