body {
    margin: 0px;
    height: 900px;
    /*background-color: orange;*/
}

a {
    color: white;
}
a:link{
    background-color:transparent; 
    text-decoration:none;
}

/* Top bar CSS */

.topbar-container{
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: 363A42;
	/* -webkit-transform: translateX(-280px); */
	-webkit-transition: all 0.3s;
	z-index: 1000;
}


.topbar-item{
	font-weight: 300;
	font-size: 20px;
	color: white;
	padding: 14px 40px;
	display: inline-block;
	float: right;
	letter-spacing: 2px;
}

#dumbell img {
    width: 100px;
    margin-left: -1px;
}

#logo {
    position: relative;
    width: 100px;
    height: 80px;
    margin-left: 6px;
    display: inline-block;
}

#ghost img {
    height: 100px;
    overflow: hidden;
}

#ghost {
    height: 10px;
    position: absolute;
}

ul {
	font-family: 'Roboto Slab', serif;
    display: inline-block;
    float: right;
}

.name {
	font-family: 'Philosopher', sans-serif;
	display: inline-block;
	color: white;
	position: absolute;
	top: 23.5px;
	font-size: 32;
}

#dumbell {
    position: absolute;
    top: 8px;
}








/*Dashboard*/

/* Left Half */

#hex1 {
	background-color: 363A42;
	top: -280px;
	z-index: 30;
}

#hex2 {
	background-color: 363A42;
	top: -210px;
	z-index: 30;
}

.options-container {
    position: relative;
    top: 40px;
    /* left: 20px; */
    width: 400px;
    height: 100px;
}


.long-hexagon {
  position: absolute;
  width: 60px; 
  height: 651px;
  background-color: 363A42;
  /* margin: 86.60px 0; */
  transform: rotateZ(90deg);
  left: 340px;
}

.long-hexagon:before,
.long-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.long-hexagon:before {
  bottom: 100%;
  border-bottom: 20px solid #363A42;
}

.long-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 20px solid #363A42;
}

.hex-text {
    transform: rotateZ(-90deg);
    margin-top: 320px;
    /* position: absolute; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 300px;
    margin-left: -120;
    color: white;
}

.title-container {
    /* position: fixed; */
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    letter-spacing: 10px;
    color: 71948E;
}

#ghost-container .img {
    width: 100px;
    height: 100px;
}

#ghost-container img {
    width: 500px;
}

#ghost-container {
    position: absolute;
    top: 100;
    left: 114;
}

.long-tall-hexagon {
  position: absolute;
  width: 100px; 
  height: 651px;
  background-color: 363A42;
  /* margin: 86.60px 0; */
  transform: rotateZ(90deg);
  left: 340px;
}

.long-tall-hexagon:before,
.long-tall-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.long-tall-hexagon:before {
  bottom: 100%;
  border-bottom: 20px solid #363A42;
}

.long-tall-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 20px solid #363A42;
}

#hex3 {
    top: 300px;
    left: 320px;
    font-size: 40px;
}

.hex-text-tall {
    transform: rotateZ(-90deg);
    margin-top: 301px;
    /* position: absolute; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 300px;
    margin-left: -105;
    color: white;
    /* text-align: center; */
}

/* Right Side */

#right-dash {
    left: 750;
    font-family: 'Roboto Slab', serif;
}

#power {
    background: blue;
    top: -340;
    font-size: 40;
}

#real-stats {
    position: absolute;
    /* background-color: red; */
    top: 40px;
    left: 87px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 610;
    border-bottom: solid red;
}

#miles {
    width: 100;
    font-size: 32px;
    margin-top: 10;
    margin-left: 60px;
}

.stat {
    position: absolute;
    left: 330;
    top: 23;
}

#new {
    left: 480;
}

.num {
    font-size: 40px;
}

.stat-label {
    text-align: center;
}

.triangle-up {
    width: 0;  height: 0;  
    border-left: 20px solid transparent;  
    border-right: 20px solid transparent;  
    border-bottom: 20px solid red;
    position: absolute;
}

#game-stats {
    position: absolute;
    width: 630px;
    top: 200;
    left: 80px;
    background-color: orange;
}

.triangle-down {
    width: 0;  height: 0;  
    border-left: 20px solid transparent;  
    border-right: 20px solid transparent;  
    border-top: 20px solid red;
    position: absolute;
    /* top: 0; */
    left: 100px;
}


#lives .triangle-up {
    top: 0;
}

.resource-number {
    position: absolute;
    left: 200;
    font-size: 60;
}

.resource-label {
    position: absolute;
    left: 300;
}

#currency {
    /* float: right; */
    position: absolute;
    height: 100;
    width: 200;
    /* background: blue; */
    /* margin-top: 30; */
    left: 330;
    text-align: center;
    top: -10;
}

#lives .triangle-down {
    top: 30;
    left: 0;
}

#hints .triangle-up {
    top: 80px;
}

#hints .triangle-down {
    top: 110;
    left: 0;
}

#lives .resource-label {
    left: 160;
    top: 22;
}

#lives .resource-number {
    left: 100;
    top: -20;
}

#hints .resource-number {
    top: 63;
    left: 105;
}

#hints .resource-label {
    top: 105;
    left: 160;
}

#currency-number {
    width: 100%;
    height: 80;
    /* background-color: green; */
    border-color: black;
    border-style: solid;
    font-size: 40;
}

#currency-title {
    font-size: 30;
    padding: 10px 0px;
    width: 100%;
}

#level-select {
    position: relative;
    top: 400;
    left: 200;
    text-align: center;
}

.level-labels {
	background-color: blue;
	border-radius: 50%;
	text-align: center;

}

#txt {
	margin-top: 38px;
	font-size: 20px;
	color: white;
}

#level-select-title {
    font-size: 28px;
    margin-bottom: 30px;
}








/* Instructions */

/*#long-body{
    height: 2000px;
}*/

.hexagon {
  position: relative;
  width: 60px; 
  height: 34.64px;
  background-color: #64C7CC;
  margin: 17.32px 0;
  left: -28px;
  z-index: 100;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 17.32px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #64C7CC;
}

#q6-container {
    margin-left: 40px;
    margin-top: 90px;
    font-family: 'Roboto Slab', serif;
}


#q6-spine {
    width: 4px;
    height: 1910px;
    background: #857c78;
    border-radius: 2px;
    position: relative;
    z-index: 100;

}

#step1 {
    top: -1860;
}

#step2 {
    top: -1314;
}

#step3 {
    top: -764;
}

#step4 {
    top: -218;
}

/* Slides */

.instruction-page{
    height: 600px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}
#step1-page {
    background-color: teal;
}
#step2-page {
    background-color: orange;
}
#step3-page {
    background-color: magenta;
}
#step4-page {
    background-color: red;
}

#page-container{
    background-color: orange;
    height: 2000px;
    width: 100%;
    position: absolute;
    top: 243;
    z-index: 5;
}

.step-text{
    text-align: center;
    color: white;
    font-size: 25;
    line-weight: 300px;
    /* line-height: 1.8em; */
}

.step-header {
    position: relative;
    left: 100;
    top: 55;
    font-size: 40;
    color: white;
    width: 500;
}

.step-description {
    left: 100px;
    position: relative;
    color: white;
    top: 100;
    font-size: 20;
    width: 600;
    text-align: justify;
    font-weight: 300;
    line-height: 1.8em;
}

#fitbit-image {
    position: relative;
    left: 800;
    top: -110;
    width: 0;
}

#fitbit-logo img {
    height: 40px;
    position: absolute;
    top: 60;
    left: 360;
}

#step-long-text {
    width: 1200;
}

/*Maybe combine this with title container later*/
#faq-title { 
    color: white;
    font-size: 40px;
    display: inline-block;   
    margin-top: 200px;      
    left: 100px;
    position: relative;
}

/*Search bar*/

#search-bar {
                width:600px;
                margin: 20 100;
                /* margin:50px auto; */
                font-family: 'Roboto Slab', serif;
                margin-bottom: 50px;
}

input[type="text"] {
    padding: 9px 15px;                 
    background: white;                 
    width: 400px;
    font-size: 16;
    font-family: 'Roboto Slab', serif;
    /* border:0px solid #dbdbdb; */
}

input[type="button"] {
    position: relative;                 
    padding: 8px 15px;
    left:-8px;                 
    border: 3px solid #207cca;
    background-color:#207cca;                 
    color: white;
    font-size: 16;
    font-family: 'Roboto Slab', serif;
}

input[type="button"]:hover {
    background-color: #fafafa;
    color:#207cca;
}

.faq-question {
    padding: 20px 100px;
    /* margin-left: 100px; */
    color: white;
    font-size: 24px;
    background-color: red;
}

.faq-answer {
    color: white;
    background-color: red;
    padding-left: 120;
    font-weight: 300;
    line-height: 1.8em;
    padding-bottom: 20px;
    padding-right: 100;
    text-align: justify;
}

.footer-container {
    color: white;
    background-color: 363A42;
    position: absolute;
    top: 900;
    width: 100%;
    height: 60px;
    /* padding-left: 20; */
    z-index: 100;
}

#instruction-footer {
    top: 3190;
}

.footer-item {
    margin-right: 100;
    display: inline-block;
    padding-top: 7px;
}

#footer-name{
    font-size: 20px;
    padding-left: 100;
    margin-top: -4;
}

#extra{
    background-color: red;
    width: 100%;
    height: 50px;
}


#gameshot {
    position: relative;
    left: 850;
    top: -40;
    width: 0;
}

#up-key{
    color: white;
    padding: 20;
    padding-right: 40;
    width: 10px;
    border-radius: 10%;
    /* margin: 20; */
    background-color: gray;
    display: inline-block;
    /* margin-left: 0; */
    position: absolute;
    left: 260;
    top: 70;
}

#controls {
    position: relative;
    top: -260;
    left: 100;
    width: 675;
    height: 230;
    color: white;
    font-size: 22;
    border: solid white;
    padding: 20;
    border-radius: 3%;
}

.key {
    color: white;
    padding: 20 30;
    /* padding-right: 40; */
    width: 10px;
    border-radius: 10%;
    margin: 20;
    background-color: gray;
    /* display: inline; */
    margin-left: 0;
}

#goo-dude {
    position: relative;
    top: -180px;
    left: 410;
    width: 0;
}

#flashlight {
    display: inline-block;
    position: relative;
    top: -200;
    left: 425;
}

.tiny-text {
    position: absolute;
}

#tiny-header {
    font-size: 22;
}

#tiny-description {
    font-weight: 200;
    font-size: 16;
}

#P {
    left: 100;
    top: 85;
}

#UP {
    left: 350;
    top: 85;
}

#H {
    left: 100;
    top: 170;
}

#F {
    top: 85;
    left: 510;
}

#G {
    top: 170;
    left: 510;
}



/*Home page*/

.question-hexagon {
  position: absolute;
  top: 684;
  left: 100;
  width: 200px; 
  height: 117px;
  background-color: #64C7CC;
  transform: rotateZ(90deg);
  margin: 57.74px 0;
  z-index: 20;
}

.question-hexagon:before,
.question-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.question-hexagon:before {
  bottom: 100%;
  border-bottom: 57.74px solid #64C7CC;
}

.question-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 57.74px solid #64C7CC;
}


.question-answer {
    background-color: orange;
    height: 200;
    width: 75%;
    position: absolute;
    left: 200px;
    top: 700;
    display: none;
    border-radius: 5px;
}

#question-text {
    position: absolute;
    /* color: black; */
    top: -300;
    font-size: 28;
    left: 160;
    text-align: center;
    z-index: 1;
    width: 120;
}

#splash-background {
    background-color: red;
    width: 100%;
    height: 700px;
    font-family: 'Roboto Slab', serif;
}

#splash-header {
    position: relative;
    top: 120;
    color: white;
    font-size: 100;
    left: 40;
    width: 1000;
    /* text-align: center; */
}

#splash-ghost {
    position: relative;
    top: -100;
    left: 800;
    width: 0;
}

#splash-text {
    position: relative;
    top: -430;
    width: 600;
    color: white;
    font-weight: 300;
    left: 40;
    font-size: 22;
}

#sign-up-button {
    position: relative;
    top: -400;
    left: 230;
    width: 0;
}

#sign-up-button input {
    width: 200;
    height: 60;
    font-size: 22;
    border-radius: 5px;
}

#home-container {
    height: 3000px;
}

#question2 {
    top: 890;
}

#question2 #question-text {
    width: 130;
    top: -300;
}

#answer2 {
    top: 905;
    background-color: green;
}
.hidden-selection {
    width: 100%;
    height: 205;
    background-color: teal;
    -webkit-transition: all 0.3s;
}

#selection2{
    background-color: yellow;
}

#dummy-waypoint1 {
    position: relative;
    top: 500;
}

#dummy-waypoint2 {
    position: relative;
    top: 985;
}

#question3 {
    top: 1095;
}






